{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block style %}

<style>
.subtitle {
    text-align: right;
    margin-top: -41px;
    font-size: 10px;
    font-family: monospace;
}

.libottom {
    margin-bottom: 15px;
}
</style>

{% endblock %}

{% block active_about %}class="active"{% endblock %}

{% block container %}

<div class="row">
    <div class="col s12 m9 l10">
        <div class="row">
            <div class="center">
                <h1 class="scrollspy header orange-text" id="what">WHAT</h1>
                <div class="subtitle">What is this system?</div>
                <h5 style="margin-bottom:50px;" class="header light">This is a website system. When you log in with Facebook, we will use the your Facebook profile picture to do the analysis. After the system analysis, you will know HOW PUSH YOU ARE in PTT. </h5>
            </div>
            <div class="col l7 s12 m12">
                <img class="materialboxed" data-caption="A photo of system architecture diagram" width="605" src="static/img/frame.png">
            </div>
            <div class="col l5 s12 m12">
                <div style="margin-top:50px; margin-left: 20px">
                    <ul>
                        <li class="libottom">1. User browse HOWPUSH website, and login.</li>
                        <li class="libottom">2. HOWPUSH request the server.</li>
                        <li class="libottom">3. Call Facebook API to get user’s Token.</li>
                        <li class="libottom">4. Server get user’s Token.</li>
                        <li class="libottom">5. Server store the user information, include userID, name, token, picture(profile picture).</li>
                        <li class="libottom">6. Response the user information of the specified Token.</li>
                        <li class="libottom">7. Predict user’s profile picture will get how many 'push'.</li>
                        <li class="libottom">8. Return to HOWPUSH website</li>
                        <li class="libottom">9. User get the predict information about 'push'.</li>
                    </ul>
                </div>
            </div>
            <div class="row" style="margin-top:50px;">
                <div class="center">
                    <h1 class="scrollspy header center orange-text" id="why">WHY</h1>
                    <div class="subtitle">Why do this?</div>
                    <h5 style="margin-bottom:50px;" class="header col s12 light">We are master student in Tamkang University, we have a 'Big Data Mining' course in the spring semester of 2018, this is our final project. Below is teacher's and student's information. </h5>
                </div>
                <div class="row">
                    <div class="container">
                        <div class="col s12 m12">
                            <div class="icon-block">
                                <h2 class="center light-blue-text"><img width="250" src="static/img/minyuhday.jpg"></h2>
                                <h5 class="center">Speeds up development</h5>
                                <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center light-blue-text"><img width="140" src="static/img/robert.png"></h2>
                            <h5 class="center">User Experience Focused</h5>
                            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center light-blue-text"><img width="117" src="static/img/steven.jpg"></h2>
                            <h5 class="center">Easy to work with</h5>
                            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center light-blue-text"><img width="115" src="static/img/victor.jpg"></h2>
                            <h5 class="center">Easy to work with</h5>
                            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12">
                    <div class="center">
                        <h1 class="scrollspy header center orange-text" id="where">WHERE</h1>
                        <div class="subtitle">Where can I use this system?</div>
                        <h5 class="header col s12 light">Here you are and let's start it. Please click the buttom below the satences and login with Facebook then you can see how many pushes will you get, let's try.</h5>
                        <a href="{{url_for('index')}}" id="download-button" class="center btn-large waves-effect waves-light orange">start to predict</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12">
                    <div class="center">
                        <h1 class="scrollspy header center orange-text" id="how">HOW</h1>
                        <div class="subtitle">How did we do it?</div>
                    </div>
                    <h5 class="header col s12 light">This is a website system. When you log in with Facebook, we will use the your Facebook profile picture to do the analysis. After the system analysis, you will know HOW PUSH YOU ARE in PTT.</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col hide-on-small-only m3 l2">
        <ul class="section table-of-contents right-align" style="padding-top:250px; position:fixed; font-size: 20px; margin-left: 50px">
            <li class="left-align"><a href="#what">WHAT</a></li>
            <li class="left-align"><a href="#why">WHY</a></li>
            <li class="left-align"><a href="#where">WHERE</a></li>
            <li class="left-align"><a href="#how">HOW</a></li>
        </ul>
    </div>
</div>

{% endblock %}